/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #d9e1e3;
}

#navbar .navbar {
    background-color: #2db5d7;
}

#navbar .navbar-brand {
    color: whitesmoke;
}

#navbar .navbar-brand i {
    color: whitesmoke;
    font-size: 20px;
    padding-right: 5px;
}

#navbar .navbar-nav a {
    color: whitesmoke;
}

.intro {
    width: 100%;
    position: relative;
}

.intro-content {
    background: url(http://localhost/alisahclinic/public/assets/user/img/doctor-6701410.jpg)
        no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.intro-content.intro-nobg {
    background: #fff;
    position: relative;
    margin: 0;
    padding: 140px 0 60px;
}

/* .white-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 4px;
} */

.intro-content h2 {
    margin-bottom: 10px;
}

.intro-content .left {
    padding-top: 80px;
}

.well.well-trans {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

/* ---- lead form --- */

ul.lead-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 25px;
}

ul.lead-list li {
    margin: 0 0 20px 0;
    line-height: 1.6em;
}

ul.lead-list li i {
    font-size: 20px;
    float: left;
    margin: 5px 5px 0 0;
}

ul.lead-list li span.list {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 15px;
}

p.lead-footer {
    font-size: 16px;
    margin: 20px 0 0;
}

.panel-heading {
    padding: 20px 0px 10px 20px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel.panel-skin {
    border-color: #ddd;
}

.panel-skin > .panel-heading {
    color: #fff;
    background-color: #444;
    border-color: #444;
    box-shadow: none;
}

.panel-body {
    padding: 20px;
}

.panel-body .form-group {
    margin-bottom: 15px;
}

.form-wrapper h3.panel-title {
    font-size: 20px;
    font-weight: 700;
}

.form-wrapper h3.panel-title span {
    font-size: 20px;
    margin: 0 10px 0 0;
}

.form-wrapper h3.panel-title small {
    font-size: 16px;
    color: #ddd;
}

form.lead label,
form.lead input {
    font-size: 16px;
}

.panel-body {
    background: transparent;
    border: #444 solid;
}

.panel-skin > .panel-heading .badge {
    background-color: #fff;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#navbar .navbar-nav a {
    padding: 5px 0px 5px 70px;
}

#page-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}

.navbar-nav .nav-item .nav-link {
    padding: 5px 30px;
    color: #011638;
}

#appointment .container {
    margin-top: -50px;
    width: 100%;
    padding: 20px;
    background-color: #faf0ca;
}

#appointment .form-select {
    display: inline-block;
    width: 25%;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

#appointment input[type="date"] {
    display: inline-block;
    width: 25%;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.3rem 1rem 0.3rem 0.75rem;
}

#appointment ::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

#appointment button {
    display: inline-block;
    width: 10%;
    margin-top: -5px;
    margin-left: 35px;
}

#content p {
    padding-top: 20px;
}

/* Fasilitas */

/* .about-us {
    padding-top: 50px;
}

#about .services .row {
    padding: 0px 0px 0px 80px;
}

.about-us .services .item .icon {
    float: left;
    margin-right: 25px;
} */

.doctor_section {
    background: #2db5d7;
    padding: 20px 0px 50px;
}

.doctor_section .heading_container {
    color: #ffffff;
}

.doctor_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
}

.doctor_section .box .img-box {
    width: 100%;
}

.doctor_section .box .img-box img {
    width: 100%;
}

.doctor_section .box .detail-box {
    width: 100%;
    padding: 25px 15px;
    text-align: center;
    position: relative;
}

.doctor_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.doctor_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #d9e1e3;
    color: #2db5d7;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #d9e1e3;
    text-decoration: none;
}

.doctor_section .btn-box a:hover {
    background-color: whitesmoke;
    color: black;
}

#page-section .card {
    border: none;
}

/* Form Page */
/* #form {
    margin-top: 20px;
    margin-bottom: 20px;
} */

#form .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

#form .form_box {
    max-width: 850px;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

#form .right {
    background: url(http://localhost/alisahclinic/public/assets/user/img/bg.jpg)
        no-repeat center;
    background-size: cover;
    height: 100%;
}

#form .left {
    padding: 25px 40px;
}

/* ARTIKEL */

#artikel h3 {
    text-align: center;
    margin: 50px 90px 0px 90px;
}

.service-wrapper .service-footer {
    max-width: 720px;
}
.service-work.card {
    border-radius: 10px !important;
    cursor: pointer;
}
.service-work .service-work-vertical {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 33.33%,
        rgba(255, 255, 255, 1) 66.66%,
        rgba(255, 255, 255, 0) 99.99%
    );
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: 0.5s;
}
.service-work .service-work-vertical:hover {
    background-position: 0% 0%;
    transition: 0.5s;
}
.service-work .service-work-vertical:hover * {
    color: #000;
    border-color: #000;
    transition: 0.5s;
}

#artikel .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

#artikel .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #2db5d7;
    color: whitesmoke;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #2db5d7;
    text-decoration: none;
}

#artikel .btn-box a:hover {
    background-color: whitesmoke;
    color: black;
}

/* ARTICLE-PAGE */

#article-page .card .btn {
    float: right;
}

.footer-section {
    margin-top: 20px;
    position: relative;
    display: block;
    padding-top: 50px;
    background-color: #2db5d7;
    color: #141414;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-section .links {
    padding-left: 50px;
}

.footer-section .footer-links a {
    text-decoration: none;
    color: #000;
    padding-left: 50px;
}

.footer-section .footer-contact a {
    text-decoration: none;
    color: #000;
    display: flex;
    padding-bottom: 5px;
}

.footer-section .footer-contact span {
    padding-left: 5px;
}

.footer-section .footer-contact .map {
    margin-top: 0px;
}

.footer-section .footer-social a {
    text-decoration: none;
    padding-right: 25px;
}

.footer-section .footer-info {
    text-align: center;
}

.footer-section .footer-info p {
    color: #000;
    padding: 25px 0;
    margin: 0;
}

.footer-section .footer-info p a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 880px) {
    #navbar .navbar-nav a {
        padding: 5px 0px 5px 0px;
    }

    .intro-content .left {
        padding-top: 0px;
    }

    ul.lead-list li i {
        color: transparent;
    }

    #form .container {
        padding: 0px;
    }

    #form .form_box {
        display: block !important;
        grid-template-columns: 1fr;
        padding: 0px;
    }
    #form .right {
        height: 200px;
    }
    #form .left {
        padding: 10px;
    }

    .footer-section .footer-detail {
        padding-left: 10px;
    }

    .footer-section .links {
        padding-left: 10px;
    }

    .footer-section .footer-links a {
        padding-left: 10px;
    }

    .footer-section .addres {
        padding: 10px 0px 0px 10px;
    }

    .footer-section .footer-contact {
        padding: 0px 0px 0px 10px;
    }

    .footer-section .media {
        padding: 10px 0px 0px 10px;
    }

    .footer-section .footer-social {
        font-size: 10px;
        padding-left: 10px;
    }
}
